[submodule "vim/bundle/dracula-theme"]
    path = vim/bundle/dracula-theme
    url = https://github.com/sriramkandukuri/vim.git
    branch = sriram_dev
[submodule "vim/bundle/vim-pathogen"]
    path = vim/bundle/vim-pathogen
    url = https://github.com/sriramkandukuri/vim-pathogen.git
    branch = sriram_dev
[submodule "vim/bundle/vim_runtime"]
    path = vim/bundle/vim_runtime
    url = https://github.com/sriramkandukuri/vimrc.git
    branch = sriram_dev
[submodule "vim/bundle/syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/sriramkandukuri/syntastic.git
    branch = sriram_dev
